@import '../../colors';

.delivery-card {
    background-color: $darkprimary;
    width: 1080px;
    margin-top: 1rem;
    padding: 2rem;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;

    font-size: 1.5rem;

    color: white;

    &__primary-info,
    &__secondary-info {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;

        div {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            gap: 1rem;

            .title {
                color: $secondary;
            }
        }
    }
}