@import '../../colors';

.form-page-wrapper {
    width: 1080px;
    display: flex;
    align-items: center;
    justify-content: center;

    .form-wrapper {
        width: 1080px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2rem 0;

        form {
            width: 400px;
            padding: 2rem;
            display: flex;
            align-items: stretch;
            justify-content: center;
            flex-direction: column;
            gap: 2rem;
            background-color: #282828;

            h1 {
                color: $secondary;
                text-align: center;
            }

            div.section {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                gap: 0.5rem;

                input {
                    width: 100%;
                }
            }

            div label {
                color: #ff9736;
            }
        }
    }
}