@import '../../colors.scss';

.select-item {
    position: relative;
    width: 100%;
    
    .selected-item {
        cursor: pointer;
        padding: 0.5rem;
        background-color: $primary;
        text-align: center;
    }

    .select-list {
        position: absolute;
        height: 200px;
        bottom: 100%;
        left: 0;
        background-color: $darkbg;
        width: 100%;
        overflow: scroll;
        overflow-x: hidden;
        
        & > * {
            cursor: pointer;
            padding: 0.5rem;

            &:hover {
                background-color: $primary;
            }
        }
    }
}